a:link {
    color: white;
}

a:visited {
    color: white;
}


.scene {
    width: 60%;
    height: 800px;
    border: 3px solid black;
    margin: 40px auto;
    perspective: 500px;
}

.carousel-scene {
    position: relative;
    margin: 80px auto;
    perspective: 1000px;
    height: 400px;
    width: 30%;
    display: inline-block;
}


.slider {
    display: none;
}

@media (max-width: 1000px) {

.scene {
    width: 85%;
    height: 80%;
    border: 3px solid black;
    margin: 40px auto;
    perspective: 500px;
}



.cardface {
   height: 90%;
}


}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in;
    transform-style: preserve-3d;
    transform: rotateY(5deg);
    position: relative;

}

.flip
{
    cursor: pointer;
}

.darin_badge
{
    border-radius:50%;
}

.card.is-flipped {
    transform: rotateY(185deg);
}

.cardface {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}

.gallery {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 30px;
}

.galleryimage {
    box-shadow: -5px -5px 20px yellow;
    opacity: 0.2;
    margin-right: 5px;
}

.galleryimage:hover
{
    opacity: 1.0;
    transition: height 0.25s ease-in;
}

.cardmodel
{
    background:linear-gradient(0, #180d0f, #8c4b51);
    /*animation: flash ease-out 7s infinite;*/
    animation-delay: 2s;
    transform: rotateY(180deg);     
}

.cardtech
{
     background-image: url("electronic.jpg"),linear-gradient(to bottom, rgba(226,226,226,0) 0%, rgba(223,223,223,1) 48%, rgba(222,222,222,1) 60%, rgba(219,219,219,0) 100%);
     background-size: cover;
     background-blend-mode: color-dodge;
}

.pagetitle div
{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    transition: transform 0.5s ease-in;
}

#overlay-video {
    margin-top: 50px;
    width: 80%;
}

.pagetitle:hover
{
    color: #e6a2ae;
    cursor: pointer;
}

.pagetitle
{
    transform-style: preserve-3d;
}

.pagetitle .techtitle
{
    transform: translateZ(10px) translateY(10px);
    filter: blur(3px);
    opacity: 0.3;
}

.cardtech .pagetitle
{
    color: #e0eff2;
}

.cardtech .images img
{
    margin-top: 30px;
    height: 50%;
}

.cardtech .images
{
    margin-top: 150px;
    overflow-y: auto;
    height: 50%;
}

.cardtech p
{
    font-size: 22px;
    font-weight: normal;
    font-family: Courier New Bold;
    z-index: -10;
    margin-left: 10px;
    margin-right: 10px;
}

.cardmodel p
{
    font-size: 22px;
    font-weight: normal;
    font-family: Courier New Bold;
    z-index: -10;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}


/*darin.world text animation*/
.pagetitle {
    x-webkit-animation: pagetitle 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    xanimation: pagetitle 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    font-family: Arial;
    letter-spacing: 5px;
    font-size: 50px;
    xtext-shadow: 3px 3px rgba(0, 0, 0, 0.7);
    margin-top: 50px;
    margin-bottom: 100px;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-10 1:25:0
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes pagetitle {
    0% {
	-webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
	-webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
	text-shadow: none;
    }
    100% {
	-webkit-transform: translateY(-50px) translateX(50px);
        transform: translateY(-50px) translateX(50px);
	-webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
	text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}
@keyframes pagetitle {
    0% {
	-webkit-transform: translateY(0) translateX(0);
	transform: translateY(0) translateX(0);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	text-shadow: none;
    }
    100% {
	-webkit-transform: translateY(-50px) translateX(50px);
	transform: translateY(-50px) translateX(50px);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

/*camera flash effect*/
@keyframes flash {
    from { opacity: 1; } 
    92% { opacity: 1; }
    93% { opacity: 0.1; }
    94% { opacity: 1.0; }
    96% { opacity: 0.1; } 
    to { opacity: 1; }
}

#overlay-video-container
{
    opacity: 0;
    position: absolute;
    left: 30px;
    overflow: visible;
    z-index: -1000;
    width: 100%;
    transition: opacity 2s ease-in;
}

.carousel {
    width: 100%;
    height: 300px;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in;
}

.carousel-item {
    opacity: 1;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 300px;
    height: 450px;
    border: solid 2px black;
    max-width: 500px;
    box-sizing: border-box;
    padding: 0 0px;
    transition: transform 0.5s ease-in;
    cursor: pointer;
}

.carousel nav {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}
.carousel nav button {
  flex: 0 0 auto;
  margin: 0 5px;
  cursor: pointer;
  color: white;
  background: none;
  border: 2px solid;
  letter-spacing: 1px;
  padding: 5px 10px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));      
}

.carousel nav button:hover
{
    filter: none;
}

.links
{
    margin: 0 auto;
    width: 20%;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    left: 30px;
    position: relative;
}

.links img
{
    height: 50px;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    margin-right: 10px;    
}

.links img:hover
{
    filter: none;
}

.carousel-item:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel-item:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.carousel-item:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.carousel-item:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.carousel-item:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.carousel-item:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.carousel-item:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }


